<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис рассылок</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

{% include 'mailing/includes/navbar.html' %}

<!-- Заголовок -->
<header class="jumbotron text-center">
    <h1 class="display-7">Добро пожаловать!</h1>
    <p class="lead">Наш сервис рассылок предоставляет простое и эффективное решение для управления электронными
        рассылками.</p>
    <a class="btn btn-primary" href="{% url 'mailing:mailing_list' %}">Использовать сервис</a>
</header>

<!-- Контент -->
<div class="container">
    <h2>О нашем сервисе:</h2>
    <p>- Вы сможете с легкостью создавать, редактировать, просматривать и удалять рассылки.</p>
    <p>- Можете настроить автоматическую рассылку по времени.</p>
    <p>- Будете всегда знать, получил ли вашу рассылку клиент.</p>
</div>

{% include 'mailing/includes/footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>