{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали рассылки</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="container mt-5">
    <h1 class="display-4 text-center">Детали рассылки</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="my-0 font-weight-normal">{{ object.name_mailing }}</h4>
            <p class="card-text">Дата и время первой отправки рассылки: {{ object.first_send_datetime }}</p>
            <p class="card-text">Периодичность рассылки: {{ object.periodicity }}</p>
            <p class="card-text">Статус рассылки: {{ object.status }}</p>
            <p class="card-text">Клиенты: {{ object.clients.all|join:", " }}</p>
            <p class="card-text">Сообщение: {{ object.message }}</p>

            <div class="d-flex justify-content-between">
                <a href="{% url 'mailing:mailing_update' object.pk %}" class="btn btn-warning">Изменить</a>
                <form action="{% url 'mailing:mailing_delete' object.pk %}" method="GET" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">Назад</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

{% endblock %}
