{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить сообщение с темой "{{ object.subject_message }}" ?</p>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                        <a class="btn btn-primary" href="{% url 'mailing:message_list' %}">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}