{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет о попытках рассылок</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

{% include 'mailing/includes/navbar.html' %}

<body>
<h1>Отчет о попытках рассылок</h1>
<table border="1">
    <thead>
    <tr>
        <th>Рассылка</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Статус</th>
        <th>Ответ сервера</th>
    </tr>
    </thead>
    <tbody>
    {% for attempt in attempts %}
    <tr>
        <td>{{ attempt.mailing.name_mailing }}</td>
        <td>{{ attempt.first_send_datetime }}</td>
        <td>{{ attempt.end_date }}</td>
        <td>{{ attempt.status }}</td>
        <td>{{ attempt.server_response }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Нет данных</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'mailing/includes/footer.html' %}

<script src="{% static 'js/slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>